# Core dependencies
fastapi
uvicorn
gunicorn
python-multipart
websockets
loguru
python-dotenv

# LangChain dependencies
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain_chroma
transformers
torch==2.2.2+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html

# PDF processing
PyPDF2
pypdf

# Vector database
chromadb

# Google Gemini API
langchain-google-genai
google-generativeai

# Utilities
aiohttp
pydantic
asyncio
